<nav class="justify-between h-8">
    <div class="p-2">
        <img src="../../../assets/logo.png" alt="Medinah Hub" class="w-56">
    </div>       
</nav>
<div class="justify-around flex p-16 ">
    <div class="w-3/4 flex flex-col justify-center  ">
        <h1 class="text-3xl font-bold">Connect, Explore, and Belong — All in One Hub</h1>
        <p>Welcome to Medina Hub System — the ultimate digital space for visitors to discover local communities, 
            book events, and engage with others in real time. Whether you're here for a short stay or an extended visit, Medina Hub helps you feel right at home by making every experience more meaningful and connected.</p>
        <button>Get Started</button>
    </div>
    <div class="w-1/3 -space-x-36">
            <img src="../../../assets/landing1.png" alt="">
    </div>
</div>